.main{
    background-image: url("pic/bg1.jpg");
    max-width: 100% !important;
    height: 100%;
    background-size: cover ;
    background-attachment: fixed;
}

a {
     color: #ffffff !important;
     font-size: 16px;
     -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     transition: all 0.2s !important;
 }


.c3{
    background-color:white;
    max-width: 100% !important;

}
#txt5{
    padding-top: 120px;
    font-size: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
#txt4{
    font-size: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
#cont2{
    height: 60vh;
}
.footer{
    margin-top: -10vh;
}

.i1{

    margin-top: 30px;
    width:450px;

}
.i1sign_up{
    margin-top: 30px;
    width:300px;
}
.b1,.b2,.b3,.b4,.b0{
    color: white !important;
    padding-right: 30px !important;
}
#mainNav {
    opacity:0.2;
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
#txt3{
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.c2{
    background-color: white;
    padding: 80px;
}
.c1{
    padding:10px;
    border-radius: 20px;
    margin-top: 3vh;
    /*background-color: white;*/
    font-size: 40px;
    color: white;
    max-width: 40% !important;
    font-family: 'Raleway', sans-serif;
}
.ip1,.ip2, .ip3, .ip4{
    padding: 10px;
    width:400px;
}
#txt1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}
#txt2{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#b1{
    background-color: #d90360;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    width: 25% !important;
}
#b1:hover{
    cursor: pointer;
    color: black;
}
input[type=text], input[type=password]{
    padding: 10px;
    background: white;
    border-radius: 20px;
    opacity:0.8;
    margin-left:20%;
    border-left: none;
    border-right: none;
    border-top:none;
    border-width: 2px;
    border-color: white;
    text-align: center;
    max-width:60%;
}
#footer{
    height: 15vh;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 7px;
    color:white;
}
#footer_link{
    padding-left: 0px;
}
.footer-ul{
    margin-bottom: 0px !important;
}
/*Media Queries*/
@media only screen
and (max-device-width : 400px)
{
   .c1{
       max-width: 80% !important;
       font-size: 40px !important;
       margin-top: 200px !important;
   }
    #txt1,#txt2{
        font-size: 40px;
        padding:20px;
    }
    .ip1,.ip2,.ip3,.ip4{
        font-size: 60px !important;
        padding:20px !important;
    }
    .i1{
        margin-top: 190px !important;
    }
    #i1,#i2, #b1{
        font-size: 40px !important;
        border-radius: 50px;
    }
    #b1{
        margin-top: 60px;
    }
    #txt2{
        margin-top: 50px !important;
    }
}

@media only screen
and (max-device-width : 900px)
{
    .c1{
        max-width: 90% !important;
    }
    #txt1,#txt2{
        font-size: 30px;
        padding:20px;
    }
    .ip1,.ip2,.ip3,.ip4{
        padding:20px
    }
}
